#hero-image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  max-height: 500px;
}

.solving-image {
  width: 10em;
  height: 10em;
  padding: 0;
  margin: 0 1.5rem;
}

.tree-images-box-padding {
  padding: 1rem 1rem;
}

.responsive-iframe {
  width: 100%;
  height: 293px;
}

@media screen and (max-width: 992px) and (min-width: 768px) {
  .tree-images-margin {
    margin: 0 1rem;
  }

  .tree-images-box-padding {
    padding: 1rem 0.5rem;
  }

  .responsive-iframe {
    height: 404px;
  }
}

@media screen and (max-width: 1200px) and (min-width: 993px) {
  .responsive-iframe {
    height: 543px;
  }
}

@media screen and (max-width: 1400px) and (min-width: 1201px) {
  .responsive-iframe {
    height: 648px;
  }
}

@media screen and (min-width: 1401px) {
  .responsive-iframe {
    height: 753px;
  }
}

.iframe {
  border: none;
}

.flag {
  height: 1.5em;
  vertical-align: bottom;
}

.combination {
  font-weight: 700;
  word-spacing: 0.5rem;
  margin: 0;
  padding-top: 1rem;
}

h1 {
  font-size: 3rem;
}

strong {
  font-weight: 600;
}

/* remove underline and color from links in tables */
td a {
  color: var(--bs-dark);
  text-decoration: none;
}

td {
  white-space: nowrap;
}
