#hero-image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  max-height: 500px;
}

.solving-image {
  width: 10em;
  height: 10em;
  padding: 0;
  margin: 0 1.5rem;
}

.tree-images-box-padding {
  padding: 1rem 1rem;
}

@media screen and (max-width: 992px) and (min-width: 768px) {
  .tree-images-margin {
    margin: 0 1rem;
  }

  .tree-images-box-padding {
    padding: 1rem 0.5rem;
  }
}

.flag {
  height: 1.5em;
  vertical-align: bottom;
}

.combination {
  font-weight: 700;
  word-spacing: 0.5rem;
  margin: 0;
  padding-top: 1rem;
}

strong {
  font-weight: 600;
}

/* add spacing to lists for proper alignment within the container */
ol {
  margin-left: 1.25rem;
}
ol li {
  padding-left: 0.25rem;
}
ul {
  margin-left: 1.5rem;
}

/* remove underline and color from links in tables */
td a {
  color: var(--bs-dark);
  text-decoration: none;
}
